{% extends 'base.html' %}

{% block header %}
    <h1 id="index">eventeX</h1> 
{% endblock %} 

{%block container%}
    <div id="container">
        <section id="descricao" class="blocoindex">
            <p>O evento mais sensacional do ano depois do Dev in Rio! <br /><br />
            <span>Você não pode perder esta oportunidade!</span></p>
        </section>
        <section id="data" class="blocoindex">
            <p>Abertura das inscrições em <br /><br /><span>15/05/2011</span></p>
        </section>
        <section id="contato" class="blocoindex">
            <br /><p>Não perca tempo, <br /><br /> <a class="inscricao" href="/inscricao/" title="Clique aqui para fazer a inscrição">Faça agora sua inscrição...</a>

        </section>
    </div>
{% endblock %} 
