{% extends 'base.html' %}

{% block header %}
    <h1 id="index">eventeX</h1> 
{% endblock %} 

{%block container%}
    <div id="container">
        <section id="descricao" class="blocoindex">
            <p>O evento mais sensacional do ano depois do Dev in Rio! <br /><br />
            <span>Você não pode perder esta oportunidade!</span></p>
        </section>
        <section id="data" class="blocoindex">
            <p>Abertura das inscrições em <br /><br /><span>15/05/2011</span></p>
        </section>
        <section id="contato" class="blocoindex">
            <p>Dúvidas e informações, entre em contato com:<br /><br />
            <span class="email">
                <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
            </span>
        </section>
    </div>
{% endblock %} 
